# Build outputs
/build/
/out/

# Local PlayStation assets
/tomba/
/isos/
/saves/
/psxrecomp-v4/
/psxrecomp-v4
*.bin
*.cue
*.iso
*.img
*.sub
*.ccd
*.mcd
*.mcr

# Ghidra projects and local analysis databases
*.gpr
*.rep/

# Local editor/cache files
.vs/
.vscode/
*.user
*.log
